@page
@model WebApplication_Second_Docker_Test.Views.Home.DemoModel
@{
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <button id="start-button-id">Star Ex</button>
    </div>
    <div id="kap-1.1">
        <p id="phrase-1">
            Året är 1815 och det är sen sommar.
            Du är äntligen påväg för att åter se din familj som du inte sätt sen den dagen du tog värvning 1805 för att delta i kriget mot Napoleon.
            Efter det att freden undertecknades i Pasris har du spenderat din tid i Stockholm. Där har du levt gott på den lön du sammlat på dig under
            din tid i armen. Efter ett osunt år med allderles för mycket starkdryck och många slantar förlorade i spel har du hammlat i trubbel
            med en anhang av otäcka typer som du efter ett krog slagsmål lämnat två av typerna med men för livet. För att und komma den hämd
            som nu söker dig, har du tagit dina sisat ägodelar och gett dig ut på vägen mot Uppsala.
        </p>

        <p id="phrase-2">
            Du lämnar ditt karter på Jacobs Bergs Grand och ger dig ut på Regeringsgatan och svänger vid Johannis Kyrkan för att ta Stora Badstug Gatan
            ut ur Stockholm. I höjd med Observatoriumed blir du överaskad av fyra typer som av känner igen får dina kvällar på sprithuset och du vet varför dom är här.
        </p>

        <p id="phrase-3">
            Du överväger dina alternativ.
        </p>
        <form id="kap-1.1-form">
            <label><button class="route-selection" type="submit">1. Du Försöker övertala Männen att du är någon annan och att du inte har någon aning om vem dom letar efter. </button></label>
            <label><button class="route-selection" type="submit">2. Du tar dina sista besbaring och försöker muta anhanget till att låta dig passera. </button></label>
            <label><button class="route-selection" type="submit">3. Du tar ett stadigt tag i din packcäska och försöker springa ifrån dem. </button></label>
            <label><button class="route-selection" type="submit">4. Du stanar upp och förbereder dig för vad du vet kommer. </button></label>
        </form>
    </div>
</div>
